*{
    margin: 0;
    padding: 0;
}
body{
    background: #645d5d;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

}

.card{
    background: #1e1f26;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-icon{
    font-size:28px;
    background: #ef4141;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card:hover .card-icon{
    background: none;
    color: #ef4141;
    transform: scale(1.6);


}

.card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.card textarea{
    background-color: #1e1f26;
}

.card:hover p{
    max-height: 40px;
    opacity: 1;
}
.card button{
    background-color: #ef4141;
    color: white;

}

@media screen and (max-width:800px) {
    .contact-info{
        flex-direction: column;
    }
    .card{
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
    
}